<div class="content">
  <div class="row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <div class="row">
            <h2 class=" card-title ml-3 mt-2 ">Lista de Domicilios</h2>
            <button class=" btn btn-success ml-auto mr-5" tooltip="Agregar" (click)="AgregarDomicilioEvent()">
              Agregar <i class=" tim-icons icon-simple-add"></i>
            </button>
          </div>
          <div class="row">
            <div class='col-9'>
              <label class='col-form-label'>Buscar por nombre:</label>
              <div class='mt-auto mb-auto'>
                <div class=' form-group'>
                  <input class=' form-control' placeholder='Nombre' type='text'
                    [(ngModel)]='busqueda.param' />
                </div>
              </div>
            </div>
            <button class=" btn btn-info btn-icon btn-round ml-auto mr-5 mt-auto mb-auto" tooltip="Agregar"
              (click)="BuscarPorNombreEvent()">
              <i class=" tim-icons icon-zoom-split"></i>
            </button>
          </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive no-bars">
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr>
                  <th>Id</th>
                  <th>Ciudad</th>
                  <th>Direccion</th>
                  <th class=" text-center">Editar</th>
                  <th class=" text-center">Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of this.busqueda.list">
                  <td>{{d.id}}</td>
                  <td>{{d.ciudad}}</td>
                  <td>{{d.direccion}}</td>
                  <td class=" text-center">
                    <button class=" btn btn-default btn-link btn-sm btn-icon " tooltip="Editar"
                      (click)="UpdateDomicilioEvent(d)">
                      <i class=" text-success tim-icons icon-pencil"></i>
                    </button>
                  </td>
                  <td class=" text-center">
                    <button class=" btn btn-default btn-link btn-sm btn-icon " tooltip="Editar"
                      (click)="DeleteDomicilioEvent(d)">
                      <i class=" text-danger tim-icons icon-trash-simple"></i>
                    </button>
                  </td>
                </tr>
                <tr *ngIf="this.busqueda.list.length==0">
                  <td colspan="5" class='text-center'>No hay datos a mostrar</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>